GEMINI_API_KEY=your-gemini-api-key-here
ELEVENLABS_API_KEY=your-elevenlabs-api-key-here
4wyRvdqpHAIJbzXauRO5jlFJ8twvJawB2-lTmthy-M3US6CUlMAsk-proj-2RQMc235gVjZUO2mfiZ1QggVPqASIO15Dlyk0xauVqZtaC_9rZ-up6zhVDYUurZQbwCtVs0oZaT3BlbkFJCmWD1HGKV0yL-cFvTVZdh7b